/* CSS Formatting Document */

body {
	color: #000000;
	background-color: #FFFFFF;
	font: 12pt Georgia, "Times New Roman", Times, serif;
	border-style: solid;
	border-width: thick;
	margin: 5pt;
	padding: 0px;
}
a:visited{
	color: #555407;
}
a:link{
	color: #1a4808;
}
a:hover{
	color: #CC3300;
}
dl dt{
	color: #CC3300;
	font-size: 1.1em;
	font-weight: bold;
	margin: 5pt;
}
dl dd{
	margin-right: 50px;
	padding-bottom: 25px;
}

header{
	padding-left: 250px;
	background-image: url(../images/przlogo.gif);
	background-position: top left;
	background-repeat: no-repeat;
	font-family: Garamond, serif;
}
header h1, h2{
	font-family: Garmond, serif;
}
header h1{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}
header h2{
	text-align: center;
	font-size: 1.6em;
	font-style: italic;
	font-weight: bold;
}
nav {
	font-family:  'Didact Gothic', sans-serif;
	padding: 10px 20px 10px 20px;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #252550;
	letter-spacing: -1px;
	
}
nav li{
	padding: 0.2em 1em 0.2em 1em;
}
section#content{
	padding: 20px 20px 20px 160px;
	background-image: url(../images/prz_watermark.gif);
	background-repeat: no-repeat;
	background-position: center right;
}
#content h1 h2 h3 h4 h5 h6{
	font-family: 'Gill Sans', Arial, Helvetica, sans-serif;
}
#content h1 {
	font-size: 1.5em;
}
#content h2 {
	font-size: 1.3em;
	font-weight: bold;
}
#content h3 {
	font-size: 1.1em;
}
#bigger{
	font-size: 1.1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#content ol{
	list-style: upper-roman;
}
#content li ol{
	list-style: lower-alpha;
}
footer{
	background-color: #A1D1D1;
	padding: 15px;
	height: 40px;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
}
footer p{
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	line-height: 1.1em;
	margin: 0;
}
ul {
	padding-left: 30px;
}
strong {
	font-weight: bold;
}
#clientNav {
	font-size: .7em;
	line-height: .0em;
	font-family: Arial, Helvetica, sans-serif;
	border: thin black dotted;
	background-color: #D7EAE4;
	position: absolute;
	top: 20px;
	right: 30px;
	padding: 5px;
	width: 150px;  
	text-align:center;
}
#clientNav p ul{
	padding-left:0;
	margin:0;
	font-size:.7em;
}
#clientNav li{
	display: inline;
	padding: 0px 5px;
	border: none;
}
#clientNav li a{
	padding-right: 25px;
}

